

<!DOCTYPE html>
<html>
  <head>
    <title>Repairphone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

     <%= stylesheet_link_tag 'navbar' %>
  <%= stylesheet_link_tag 'form' %>
<style>

</style>
  </head>

  <body>
<%= render 'common/nav'%>
<%= render 'form'%>
  </body>
</html>