 <%= form_tag  trackorder_path ,method: "get" do%>
      <div>
      <label>Enter tracking_id</label>
      <%= text_field_tag :tracking_id %><div>
      <br>
    
      <%= button_to 'search'%>
      <%end%>