<div class="otpcontainer">
    <form action="/verify_otp" method="POST">
      <div class="otp-inputs">
        <input type="text" maxlength="1" name="otp1" required>
        <input type="text" maxlength="1" name="otp2" required>
        <input type="text" maxlength="1" name="otp3" required>
        <input type="text" maxlength="1" name="otp4" required>
      </div>
      <div class="form-group">
        <button type="submit">Verify OTP</button>
      </div>
    </form>
  </div>



<%# <%= form_tag  %>
    <%# <%= text_field_tag :otp %>
   
    <%# <%= submit_tag %>

<%# <%end%> 